@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

:root {
  /* colors primary */
  --primary-red: hsl(0, 78%, 62%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-blue: hsl(212, 86%, 64%);

  /* color Neutral */
  --neutral-dark-blue: hsl(234, 12%, 34%);
  --neutral-grayish-blue: hsl(229, 6%, 66%);
  --neutral-light-gray: hsl(0, 0%, 98%);
}

body {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  background-color: var(--neutral-light-gray);
}

.main {
  border: 1px solid green;
  display: grid;
  place-content: center;
  height: 100vh;
}

.container {
  width: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.title__wrapper {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cards__wrapper {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border: 1px solid red;
  max-width: 1440px;
  margin: 0 auto;
}

.cards {
  width: 300px;
  min-height: 250px;
  padding: 2rem;
}

.card__1 {
  border: 1px solid blue;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  align-self: center;
}

.card__2 {
  border: 10px solid purple;
  grid-column-start: 2;
  grid-column-end: 3;
}

.card__3 {
  border: 10px solid pink;
  grid-column-start: 2;
  grid-column-end: 3;
}

.card__4 {
  border: 1px solid green;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  align-self: center;
}

/* Provided by Frontment Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
